@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Staatliches&display=swap');
/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Staatliches', cursive;
*/




html, body {
  height: 100%;
}

body {
  background: rgb(0,252,255);
  background: linear-gradient(0deg, rgba(0,252,255,1) 30%, rgba(42,25,249,1) 100%);
  background-repeat: no-repeat;
  color: blue;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  background-color: none;
  justify-content: center;
  background-color: inherit;

  
}


header {
  width: 100%;
  height: 100%;
}

header section {
  height: 60%;
  width: 100%;
  font-size: 1.5vw;
}

header section div {
  align-self: auto;
  width: 50%;
  height: 80%;
  padding: 1rem;
  background-color: rgba(245, 245, 245, 0.459);
  border-radius: 10px;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;


}

.best-score {
  width: 33%;
  height: 2rem;
  background-color: transparent;
}

/* start game transition */
.clicked {
  animation-name: startGame;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes startGame {
  from {
    position: relative;
    bottom: 0%;
  }

  to {
    position: relative;
    bottom: 150%;
    
  }

}




/* ----------------- */

header span {
  display: flex;
  flex-direction: row;
  padding: 1%;
  font-size: 3rem;
}

header button {
width: 25%;
height: 2rem;
margin: auto;
background-color: rgba(42,25,249,1);
border: 0px;
border-radius: 5px;
color: whitesmoke;
transition: .1s;
font-family: 'Press Start 2P', cursive;
font-size: 1vw;
transform: scale(1);
}

header button:hover {
  background-color: red;
transform: scale(1.1);
  transition: .1s;
}

header button:active {
  transform: scale(.99);
  transition: .1s;
}

#score {
  text-align: center;
  width: 10vw;
  height: 7vw;
  margin-top: 1vw;
  margin-right: 1vw;
  background-color: rgba(245, 245, 245, 0.459);
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  font-family: 'Press Start 2P', cursive;
}

#finished {
  position: absolute;
  bottom: 35%;
  left: -50%;
  background-color:rgba(245, 245, 245, 0.925);
  width: 50vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  z-index: 99;
  font-size: 2vw;
}


#finished button {
background-color: blueviolet;
height: 3vw;
width: 10vw;
font-size: 1vw;
border-radius: 10px;
color: whitesmoke;
font-family: 'Press Start 2P', cursive;
transform: scale(1);
position: relative;
left: 20vw;
margin-top: 1vw;
}

#finished button:hover {
  transform: scale(1.1);
  transition: .1s;
}

#finished button:active {
  transform: scale(.99);
  transition: .1s;
}
/* transition for finished */
.showScore {
  animation-name: showScore;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes showScore {
  from {
    position: absolute;
    left: -50%;
  }

  to {
    position: absolute;
    left: 25%;
    
  }

}




/* ----------------- */

section {
  position: relative;
  margin: auto;
  display: flex;
 

}

.cardgame {
  position: relative;
  bottom: -20%;
  width: 45vw;
  height: 45vw;
  display: flex;
  perspective: 1000px;
}

.container {
  width: 45vw;
  height: 45vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
  row-gap: 1vw;
  padding-left: 3vw;
}

/* transition to slide card game in*/
.clickedGame {
  animation-name: cardGame;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes cardGame {
  from {
    position: relative;
    bottom: -20%;
  }

  to {
    position: relative;
    bottom: 95%;
  }

}




/* ----------------- */

img {
width: 100%;
height: 100%;
}  

section, div.memorycard {
 position: relative;
}

.memorycard {
  width: 9vw;
  height: 9vw;
  transform: scale(1);
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memorycard:active {
  transform: scale(.97);
  transition: .1s;
}

.memorycard.flip {
  transform: rotateY(180deg);
  transition: transform 1s;
  }

  .memorycard.unflip {
    transform: rotateY(360deg);
    transition: transform 1s;
    }


.front-face, .back-face {
  position: absolute;
}

/* This hides the front card when you click on it */
.hide {
  display: none;
}


